# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Rproj.user
.Ruserdata
# RStudio files
.Rproj.user/
# R Environment Variables
.Renviron


# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md

# pkgdown site
# docs/      # SE NON COME FACCIO A PUBBLICARE ???

# DRAFT POSTS
posts/_*
images/piazzze.jpg

# ANDREW HEISS COPIA
# you don’t need to check your _site or _book directory into version control
# (if you have done this in the past you know it makes for very messy diffs!)
/.quarto/
/_site/
/_freeze/

# PRIVATO O FUORI CONTESTO
#_slides/*

# knitr and caching stuff
**/*_files/*
**/*_cache/*
!README_files/*

files/incomplete-reports.zip

/.luarc.json
